@charset "UTF-8";
/*
  # Kirby Starterkit

  This CSS file handles all of the styling in of Kirby’s
  Starterkit. Feel free to tinker around with it and
  adjust it according to your needs.

  ## Table of Contents

  1 Global Rules & Definitions
  1.1 Font Definitions
  1.2 Reset & Normalization
  1.3 General Typography
  1.4 Images & Figures

  2 Layout Helpers & Reusable Components
  2.1 Kirbytext
  2.2 Button
  2.3 Grid & Layout
  2.4 Pagination
  2.5 Projects Showcase

  3 Site Layout
  3.1 Header
  3.2 Menu
  3.3 Sticky Footer
  3.4 Main Content

  4 Template-specific Components
  4.1 Homepage
  4.2 Blog Article
  4.3 Team
  4.4 Contact

*/

/* =====  1 Global Rules & Definitions  ===================================== */

/* -----  1.0 Variables and related classes  ---------------------------------------------------- */

$darkbg: rgb(37,14,25);
$darktext:rgb(0,0,0);

$whitebg:rgba(255, 255, 255, 0.8);
$whitetext: #fff;

$brightbg: #EDEDED;
$brighttext: #808080;

$lighttext: #808080;
$actioncolor: rgb(0,0,0);

//colors

//---film
$filmcol1: rgb(196, 107, 255);
$filmcol2: rgb(65, 135, 255);
$filmsolid: mix($filmcol1,$filmcol2);
$filmgradient: linear-gradient(135deg, $filmcol1 0%,$filmcol2 100%);
//---print
$printcol1: rgb(186, 65, 255);
$printcol2: rgb(255, 113, 107);
$printsolid: mix($printcol1,$printcol2);
$printgradient: linear-gradient(135deg, $printcol1 0%,$printcol2 100%);
//---web
$webcol1: rgb(211, 0, 0);
$webcol2: rgb(242, 215, 0);
$websolid: mix($webcol1,$webcol2);
$webgradient: linear-gradient(135deg, $webcol1 0%,$webcol2 100%);


$max-width: 1200px;
$border-radius: 0;
$padding: 10%;

@mixin phone {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait {
  @media (min-width: 600px) { @content; }
}
@mixin tablet-landscape {
  @media (min-width: 900px) { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}

.whitetext {
  color: $whitetext;
}

.darkbg {
  background-color: $darkbg;
}

.whitebg {
  background-color: $whitebg;
}

.filmbg {
  background: $filmgradient;
}

.printbg {
  background: $printgradient;
}

.webbg {
  background: $webgradient;
}

.brightbg {
  background-color: $brightbg;
}

/* -----  1.1 Font Definitions  --------------------------------------------- */

/* Font-Awesome */
@import 'fontawesome/fontawesome.scss';
@import 'fontawesome/regular.scss';
@import 'fontawesome/solid.scss';

/* Plyr */
@import 'plyr/plyr.scss';

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/montserrat-100.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}

/*
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/montserrat-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/montserrat-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}*/

/* Nunito */
@font-face {
  font-family: 'Nunito';
  src: url(fonts/nunito-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url(fonts/nunito-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Vesper Libre */
/*
@font-face {
  font-family: 'Vesper Libre';
  src: url(fonts/vesperlibre-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vesper Libre';
  src: url(fonts/vesperlibre-500.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vesper Libre';
  src: url(fonts/vesperlibre-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
*/

/* -----  1.2 Reset & Normalization  ---------------------------------------- */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

::selection {
  background: $darkbg;
  color: $brighttext;
}

/* -----  1.3 General Typography  ------------------------------------------- */

h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  /* Reset font-sizes and normalize margins */
  position: relative;
  font-size: inherit;
  line-height: inherit;
  margin: 1rem 0;
  text-align: left;
}

p {
  color: $lighttext;
}

em {
  font-weight: 700;
  font-style: normal;
}

/* Headings */
h1, h2 {
  font-weight: 100;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
}

h2:before {
  content:"";
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.5rem;
  background-color: #000;
}

.whitetext h2:before {
  background-color: #fff;
}

h1 {
  font-size: 2rem;
  line-height: 1.25;
  //text-align: center;
  margin: 3rem 0 2rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-left: 2rem;
  //text-align: center;
}

@include desktop() {
 
  h2:before {
    width: 3rem;
  }
  
  h2 {
    padding-left: 4rem;
  }
  
}

h3 {
  font-size: 1.65em;
  line-height: 1.2;
}

h4 {
  font-size: 1.5em;
}

/* Links */
a {
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: all ease 0.3s;
  z-index: 2;
}

a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -0.3rem;
  width: 100%;
  height: 50%;
  background-color: rgba(0,0,0,0.12);
  transition: all ease 0.3s;
  z-index: -1;
}

a:hover:before, a:focus:before, a:active:before {
  bottom: 0.1em;
  left: 0;
  transition: all ease 0.3s;
}

a[href*="/film"]:before {
  background-color: rgba($filmsolid, 0.70);
}

a[href*="/print"]:before {
  background-color: rgba($printsolid, 0.70);
}

a[href*="/web"]:before {
  background-color: rgba($websolid, 0.70);
}

/* Misc */
b, strong {
  font-weight: 700;
}

/* -----  1.4 Images & Figures  --------------------------------------------- */

img, svg {
  border-style: none;
  width: 100%;
  height: auto;
}

figcaption {
  font-size: .75rem;
  line-height: 1.5rem;
}

/* =====  2 Layout Helpers & Reusable Components  =========================== */

/* The Clearfix™: A classic … */
.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* -----  2.1 Kirbytext  ---------------------------------------------------- */

.intro p {
  text-align: center;
  color: $darktext;
  font-weight: 400;
  font-size: 2.1rem;
  padding: 0;
  padding-bottom: 1rem;
}

.intro strong {
  font-weight: 600;
}

.intro p {
  margin: 0;
}

h1 + .intro {
  margin-top: -2.25rem;
}

.text h2, .text h3 {
  margin-top: 3rem;
}

.text ul, .text ol {
  margin-left: 1.5em;
}

.text hr {
  /* We use a more muted style for horizontal rules within
     the main content. */
  color: #a8a5be;
}

.text ul {
  list-style: none;
}

.text ul > li::before {
  content: "–";
  display: inline-block;
  position: relative;
  width: 1.25em;
  margin-right: -1.25em;
  left: -1.25em;
  padding-left: .25em;
}

.text ol > li {
  list-style: decimal;
}

.text pre, .text code {
  background-color: #eafded;
  font-family: Courier, monospace;
  font-size: .75rem;
}

.text code {
  margin: -.25em 0;
  padding: .25em .15em;
  position: relative;
  bottom: .05em;
}

.text pre > code {
  display: block;
  margin: 0;
  padding: .8em;
  position: static;
  bottom: auto;
  overflow-x: auto;
}

.text p a {
  color: #000;
  &:before {
    opacity: 0.5;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .text pre > code {
    /* Enables smoother scrolling for code sections on
       mobile (i.e. touch) devices. */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.text kbd {
  padding: 3px 7px;
  margin: -3px 2px;
  font-size: 75%;
  line-height: 1;
  background: #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 2px 0 #c9c7d4;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  position: relative;
  bottom: 2px;
}

.text blockquote {
  border-left: 2px solid $brightbg;
  padding-left: 1rem;
  margin: 1.5rem 0 1.5rem 1.5rem;
  font-style: italic;
  opacity: 0.8;
}

.text blockquote :last-child {
  margin-bottom: 0;
}

/* -----  2.2 Button  ------------------------------------------------------- */

.btn {
  display: inline-block;
  border: 2px solid;
  padding: .6em .75em;
  white-space: nowrap;
  font-size: .75em;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
}

.btn:hover, .btn:focus {
  background: #261e66;
  border-color: #261e66;
  color: #71efac;
}

.btn:active {
  background: #4509be;
  border-color: #4509be;
}

/* -----  2.3 Grid & Layout  ------------------------------------------------ */

.grid {
  font-size: 0;
}

.grid.gutter-1 {
  /* We don’t use the shorthand attribute `margin: …` here
     to make vertical margin easily overridable by other
     styles with a lower specifity. */
  margin-left: -.375rem;
  margin-right: -.375rem;
}

.grid.gutter-1 .column {
  padding-left: .375rem;
  padding-right: .375rem;
}

.column {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.textcenter {
  text-align: center;
}

.wrap {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  overflow: auto;
}

.nohl {
  box-shadow: none;
  text-shadow: none;
}

.nohl:before, .nohl:after, {
  display: none;
}

.padding-1 {
  padding: 1rem;
}

.padding-1-tb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.margin-1 {
  margin: 1rem !important;
}

.grid {
  font-size: 0;
}

.width-1, .width-2, .width-6, .width-3 {
  display: inline-block;
  //float: left;
  font-size: 1rem;
  vertical-align: top;
  padding: 1rem;
  margin: 0;
}

.width-1 {
  width: 100%;
}

.width-2 {
  width: 100%;
}

.width-3 {
  width: 100%;
}

.width-6 {
  width: 50%;
}

.width-60 {
  width: 60%;
  margin: 0 auto;
}

@include tablet-portrait {
  .width-6 {
    width: 33.333333%;
  }
  .wrap:not(.wide) {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@include desktop {
  .width-2 {
    width: 50%;
  }
  .width-3 {
    width: 33.333333%;
  }
  .width-6 {
    width: 16.666666%;
  }
  .wrap:not(.wide) {
    max-width: $max-width;
    padding-left: $max-width * 0.25;
    padding-right: $max-width * 0.25;
  }
  .wrap.wide {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* -----  2.4 Pagination  --------------------------------------------------- */



/* ----- 2.5 Projects Pages ---------------------------------------------- */

.projecttiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &.wide {
    width: 100%;
    margin: 0;
  }
}

a.projecttile {
  display: inline-block;
  width: 100%;
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 100%;
  background-color: #fff;
  box-sizing: border-box;
  vertical-align: top;
}

a.projecttile:before {
  display: none;
}

a.projecttile h3 {
  font-size: 1.8rem;
  font-weight: 100;
  letter-spacing: 0.03em;
  color: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

a.projecttile .category {
  font-size: 1rem;
  color: #fff;
  opacity: 0.65;
  font-weight: 100;
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: center;
}

.projectnav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #000; //$brightbg;
  z-index: 30;
  border-top: 1px solid #fff;
  div.wrap {
    display: flex;
    flex-wrap: wrap;
  }
  div.item {
    width: calc(100% / 3);
  }
  a {
    display: flex;
    color: #fff;
    flex: 1;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $brighttext;
    &:last-child {
      border-right: none;
    }
    &:hover {
      background-color: #000 + 30;
    }
  }
  a:before {
    display: none;
  }
  .nextproject, .prevproject {
    font-size: 0;
    background-image: url(images/projectnavright.svg);
    background-repeat: no-repeat;
    background-size: 15px 30px;
    background-position: center right 20%;
    &:hover {
      background-position: center right 18%;
    }
  }
  .prevproject {
    background-image: url(images/projectnavleft.svg);
    background-position: center left 20%;
    &:hover {
      background-position: center left 18%;
    }
  }
  .backlink {
    color: $brighttext;
    .zurueckzu {
      display: none;
      margin-right: 0.3em;
    }
  }
}

@include tablet-portrait() {
}

@include tablet-landscape() {
  a.projecttile {
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 50%;
    h3 {
      font-size: 0.9rem;
    }
    .category {
      font-size: 0.5rem;
    }
  }
  .projecttiles.wide {
    width: 200%;
    margin: 0 -50%;
    a.projecttile {
      h3 {
        font-size: 1.8rem;
      }
      .category {
        font-size: 1rem;
      }
    }
  }
}

@include desktop() {
  a.projecttile {
    h3 {
      font-size: 1.8rem;
    }
    .category {
      font-size: 1rem;
    }
  }
  .projecttiles.wide {
    width: 200%;
    margin: 0 -50%;
    a.projecttile {
      width: 25%;
      padding-bottom: 25%;
    }
  }
  .projectnav {
    .nextproject, .prevproject {
      font-size: 1rem;
    }
    .backlink {
      .zurueckzu {
        display: inline;
      }
    }
  }
}

.mediaframe {
  font-size: 0; //Fix weil sonst unter Bildern ne fucking Border ist…
  text-align: center;
  border-bottom: 1px solid $brightbg;
  .plyr, .videoloop, img {
    width: 100%;
    margin: auto;
  }
}

.credits {
  margin-top: 3rem;
  padding: 1rem 0 2rem;
  background: $brightbg;
  table tbody tr td {
    display: block;
    //border: 1px solid #000; //debug only
    &.credits-roles {
      opacity: 0.6;
      padding: 0.5rem 0;
    }
    &.credits-name {
      //background: red;
      padding: 0.5rem 0;
      .non-member {
        opacity: 0.8;
        margin-left: 2.5rem;
      }
      .team-member {
        display: block;
        padding: 0;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
        &:before {
          display: none;
        }
        img {
          width: 2rem;
          margin-right: 0.5rem;
          margin-bottom: 0.3rem;
          border-radius: 100%;
          vertical-align: middle;
        }
        .member-name {
          position: relative;
          display: inline-block;
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -0.3rem;
            width: 100%;
            height: 50%;
            background-color: rgba(0,0,0,0.12);
            transition: all ease 0.3s;
            z-index: -1;
          }
          
          &:hover:before {
            bottom: 0.1em;
            left: 0;
            transition: all ease 0.3s;
          }
        }
      }
    }
  }
  table tbody tr.newrole td {
    &.credits-roles {
      padding-top: 1.5rem;
    }
  }
}

.credits h2 {
  margin: 1rem 0;
}

.credits-roles {
  padding-right: 1rem;
  &.hidemobile {
    display: none;
  }
}

@include desktop() {
  .credits {
    table tbody tr td {
      display: table-cell;
      vertical-align: top;
      &.credits-roles {
        //margin-top: 0;
        &.hidemobile {
          display: table-cell;
        }
      }
    }
    table tbody tr.newrole td {
      &.credits-name {
        padding-top: 1.5rem;
      }
    }
  }
}
.text {
  div.plyr, .videoloop, img {
    width: 120%;
    max-width: 120%;
    height: auto;
    margin: 2rem -10%;
  }
}

/* =====  3 Site Layout  ==================================================== */

html {
  background: #fff;
  color: $darktext;
  font: normal 400 1.5em/1.5 "Nunito", Georgia, serif;
  font-size: 4vw;
  hyphens: manual;
  /* Always show the vertical scrollbar to prevent `jumps`
     of page content after navigating from a very short page
     that does not scroll to a long pager */
  overflow-y: scroll;
  /* Setting this to `default` prevents the cursors from
     changing when hovering blocks of text or whitespace,
     which is less distracting */
  cursor: default;
  /* Neccessary for sticks footer. */
  position: relative;
  min-height: 100%;
  /* Prevent adjustments of font size after orientation
     changes in IE and iOS. */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Highlight color for WebKit-bases touch devices. */
  //-webkit-tap-highlight-color: rgba(113, 239, 172, .5);
}

@include tablet-portrait {
  html {
    font-size: 2vw;
  }
}

@include desktop {
  html {
    font-size: 16px;
  }
}

body {
  padding-bottom: 6rem;
  .noscroll {
    overflow: hidden;
  }
}

/* ----- 3.1  Header  ------------------------------------------------------- */

.header {
  //color: $lighttext;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.mediaframe {
  background-color: $brightbg;
}

.lp-logo {
  display: block;
  width: 80%;
  margin: 1rem auto 2rem;
}

.branding {
  padding: 0.75rem 0;
  display: inline-block;
  pointer-events: all;
}

.branding a {
  z-index: 1000;
  border: none;
}

.logo {
  width: 3.5rem;
  opacity: 0.6;
}

@include tablet-portrait() {
  .lp-logo {
    width: 50%;
    margin: 2rem auto 4rem;
  }
}

/* -----  3.2 Menu  --------------------------------------------------------- */

.burger-button {
  float: right;
  width: 1.5rem; // fix für Safari
  padding: 0.75rem 0;
  z-index: 1000;
  pointer-events: all;
  &:before {
    display: none;
  }
  svg {
    height: 1.5rem;
    position: relative;
    rect {
      fill: rgba(29, 29, 29, 0.8);
      transition: fill 0.1s ease-in;
      position: absolute;
    }
    g.rotate-1, g.rotate-3 {
      transform-origin: center center;
    }
    rect.move-2 {
      transform-origin: 13px 13px;
    }
    rect.move-1 {
      transform: translateY(0);
      transition: transform 0.3s ease-in 0.3s;
    }
    g.rotate-1 {
      transform: rotate(0deg);
      transition: transform 0.3s ease-in;
    }
    rect.move-2 {
      transform: scaleY(1);
      transition: transform 0.1s ease-in 0.25s;
    }
    rect.move-3 {
      transform: translateY(0);
      transition: transform 0.3s ease-in 0.3s;
    }
    g.rotate-3 {
      transform: rotate(0);
      transition: transform 0.3s ease-in;
    }
  }
  &.open {
    svg {
      rect {
        fill: rgba(0,0,0,1);
        transition: fill 0.1s ease-in;
      }
      rect.move-1 {
        transform: translateY(12px);
        transition: transform 0.3s ease-out;
      }
      g.rotate-1 {
        transform: rotate(45deg);
        transition: transform 0.3s ease-in 0.3s;
      }
      rect.move-2 {
        transform: scaleY(0);
        transition: transform 0.1s ease 0.25s;
      }
      rect.move-3 {
        transform: translateY(-12px);
        transition: transform 0.3s ease-out;
      }
      g.rotate-3 {
        transform: rotate(-45deg);
        transition: transform 0.3s ease-in 0.3s;
      }
    }
  }
}

nav.navigation {
  display: flex;
  background: rgba(255,255,255,1);
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  &.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.4s ease;
    .menu {
      margin-top: 0;
      transition: margin 0.6s ease;
    }
    .menu-item {
      margin: 1.5rem 0;
      opacity: 1;
      transition-timing-function: ease;
      transition-duration: 0.6s;
      transition-property: margin, opacity;
      transition-delay: 0s, 0.4s;
      &:nth-child(1) {
        transition-delay: 0s, 0s;
      }
      &:nth-child(2) {
        transition-delay: 0s, 0.1s;
      }
      &:nth-child(3) {
        transition-delay: 0s, 0.2s;
      }
      &:nth-child(4) {
        transition-delay: 0s, 0.25s;
      }
      &:nth-child(5) {
        transition-delay: 0s, 0.3s;
      }
      &:nth-child(6) {
        transition-delay: 0s, 0.33s;
      }
    }
  }
}

.menu {
  display: block;
  text-align: center;
  margin-top: 3rem;
  transition: margin 0.6s ease;
}

.menu-item {
  display: block;
  margin: 1.7rem 0;
  opacity: 0;
  transition: all 0.6s ease;
}

.menu-item a {
  border-bottom: 0;
}

.menu-item.is-active a {
  color: rgba(0,0,0,1);
}

.topnav {
  color: rgba(0,0,0,1);
  overflow: visible;
  pointer-events: none;
  z-index: 99;
}

// Hide the nav on project pages by default
body.project .topnav {
  opacity: 0;
  transition: opacity 0.6s ease;
  &.show, &:hover, &:focus {
    opacity: 1;
  }
}

.branding a:before {
  display: none;
}

@media all and (min-width: 56em) {

}

/* -----  3.3 Footer  ------------------------------------------------ */

footer {
  padding: 2rem 0;
}

/* -----  3.4 Main Content  ------------------------------------------------- */

.main {
}

/* -----  3.5 Action Buttons------------------------------------------------- */

.actionbutton {
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

.actionbutton:last-child {
  padding-bottom: 1rem;
}

.actionbutton a, input.actionbutton {
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba($actioncolor, 0.9);
  color: $whitetext;
  border: none;
  border-radius: $border-radius;
  box-shadow: -0.5rem 0.5rem 0 rgba(0,0,0,0.4);
  transition: all 0.5s ease;
}
input.actionbutton {
  padding: 1rem 3rem;
}
input.actionbutton:hover, input.actionbutton:focus {
  box-shadow: 0 0 0 rgba(0,0,0,0.4);
  transition: all 0.5s ease;
}

.actionbutton a:hover, .actionbutton a:focus {
  transform: translateX(-0.5rem) translateY(0.5rem); //wenn der Margin animiert wird, kann es Probleme mit anderen Elementen geben
  box-shadow: 0rem 0rem 0 rgba(0,0,0,0.4);
}

.actionbutton a:before {
  display: none;
}

.messageus {
}

.callus a {
  background: none;
  border: 1px solid $actioncolor;
  color: $actioncolor;
}

@include desktop() {
  .actionbutton {
    padding-bottom: 1rem;
  }
}

/* =====  4 Template-specific Components ==================================== */

/* -----  4.1 Homepage  ----------------------------------------------------- */

section {

}

.impressum {
  color: $brighttext;
  margin-top: 10rem;
}

.home-reel {
  width: 100%;
  height: auto;
  display: block;
  background-color: $darkbg;
}

.projects-section {
  background: #eafded;
  margin-top: 3rem;
  padding-top: 2.25rem;
  padding-bottom: .75rem;
}

.projects-section-more {
  text-align: center;
}

//Leitsatz
.philosophy {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.philosophy:before {
  content: "";
  position: absolute;
  top: 4.5rem;
  left: $padding;
  width: 4.2rem;
  height: 1.6rem;
  background: url(images/quote-apostrophes.svg) no-repeat;
}

.philosophy p {
  padding: 0.5em 0;
  margin: 0;
  font-size: 1.5rem;
}

ul.logos {
  display: flex;
  margin: 0;
  padding: 0 10%;
  align-items: center;
  flex-wrap: wrap;
  li {
    text-align: center;
    padding: 5%;
    width: calc(100% / 2);
    filter: grayscale(1);
    img {
      opacity: 0.7;
    }
  }
}

@include tablet-portrait() {
  ul.logos {
    li {
      width: calc(100% / 3);
    }
  }
}

@include desktop() {
  .philosophy {
    padding-top: 5rem;
  }
  ul.logos {
    li {
      padding: 2.5%;
      width: calc(100% / 6);
    }
  }
}

.home-team {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

//Leistungen

.leistungen {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.leistung {
  text-align: center;
}

.leistung a.mehr {
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 700;
}

.beratung {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.service {
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-size: cover;
  background-position: center center;
}

@include desktop {
  .home-reel {
    width: 60%; //wrap + 10%
  }
}

/* ----- 4.2 Blog Article  -------------------------------------------------- */

.article-title {
  font-weight: 700;
  margin-bottom: 0;
}

.article-title a {
  border-bottom: 0;
}

.article-date {
  text-align: center;
}

.article:last-of-type + hr {
  /* Hide last <hr> on blog page */
  display: none;
}

.article-more {
  font-size: 75%;
  text-transform: uppercase;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  letter-spacing: .025em;
  white-space: nowrap;
  border-bottom: 2px solid #71efac;
}

/* -----  4.3 Team  --------------------------------------------------------- */

div.team-infohead {
  position: relative;
  overflow: visible; //wichtig damit Bild nicht abgeschnitten wird
  min-height: 12rem;
  margin-top: -4rem;
  h1 {
    font-size: 1.7rem;
    padding: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  figure {
    padding: inherit;
    position: absolute;
    left: 0;
    bottom: 3rem;
    max-width: 8rem;
    img {
      width: 8rem;
    }
  }
}

div.team-cover {
  position: relative;
  height: 12rem;
  background-size: cover;
  background-position: center center;
}

@include desktop() {
  div.team-infohead {
    min-height: 6rem;
    margin-top: -1.25rem;
    h1 {
      font-size: 2.4rem;
      left: 9rem;
      bottom: 0;
      margin: 0;
      margin-bottom: 0.5rem;
    }
    figure {
      left: 0;
      bottom: 0;
    }
  }
  div.team-cover {
    position: relative;
    height: 12rem;
    background-size: cover;
    background-position: center center;
  }
}

ul.team {
  text-align: center;
  margin-top: 3rem;
  margin: auto;
}

li.team-item {
  text-align: center;
  display: inline-block;
  width: 40%;
  margin: 5%;
}

li.team-item.thumbnail {
  width: 10%;
  margin: 1%;
  opacity: 0.66;
}

@include tablet-portrait {
  li.team-item {
    width: 20%;
    margin: 2.5%;
  }
}

.team-portrait img {
  /* Eliminate bottom margin */
  display: block;
  border-radius: 100%;
}

.team-name {
  margin-bottom: 0;
}

.team-info {
  font-size: 1.2rem;
}

.team-about, .team-contact {
  font-size: 1rem;
}

.team-contact a {
  word-wrap: break-word;
}

ul.skills li {
  display: inline;
  font-size: 1.5rem;
}

ul.skills li:after {
  content: ', ';
}

ul.skills li:last-child:after {
  content: '';
}

/* -----  4.4 Contact  ------------------------------------------------------ */

.contact-options {
  list-style: none;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-item {
  padding: 0 .375rem;
  background: #eafded;
  background-clip: content-box;
  text-align: center;
  font-size: .85rem;
  width: 100%;
  margin-bottom: .75rem;
  /* By using flexbox for a contact option’s content,
     we can ensure, that the action button in each
     box always aligns euqally to the bottom
     of that box. */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@include tablet-landscape {
  .contact-item {
    width: 50%;
  }
}

@include desktop {
  .contact-item {
    width: 25%;
  }
}

.contact-item-icon {
  max-width: 50%;
  margin-bottom: 1.5em;
}

.contact-item-title {
  margin-bottom: 1.5em;
}

.contact-item-content {
  padding: 1.5rem 2.25em .375em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-twitter {
  text-align: center;
  font-weight: 500;
  position: relative;
}

.contact-twitter h2 {
  margin-bottom: 3rem;
}

.contact-twitter h2::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(images/logo.svg) 50% 50%/contain no-repeat;
  margin: 3rem auto 1.5rem;
}

#contactform {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  font-size: 0; //stoopid fix 4 inline-elements
  background-color: $brightbg;
  box-sizing: border-box;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  opacity: 0; // kommt sonst manchmal beim Scrollen ins Bild
  transition-timing-function: ease;
  transition-duration: 0.2s, 0s;
  transition-property: top, opacity;
  transition-delay: 0s, 0.2s;
  input, select, textarea, span, p {
    font-family: "Nunito";
    font-size: 1.2rem;
    color: $darktext;
    font-weight: 600;
    border: 0.5rem solid $brightbg;
  }
  input.actionbutton {
    color: $whitetext;
    border: none;
    margin: auto;
    margin-bottom: 3rem;
  }
  span.contactform-budget {
    text-align: left;
  }
  @include desktop() {
    span.contactform-budget {
      text-align: right;
    }
  }
  &.show {
    top: 0;
    opacity: 1;
    transition-timing-function: ease;
    transition-duration: 0.3s, 0s;
    transition-property: top, opacity;
    transition-delay: 0s, 0s;
  }
  .close {
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.5rem 0;
    &:before {
      display: none;
    }
  }
}

/* -----  4.5 Category Pages  ------------------------------------------------------ */

.headerbg {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 2em;
}

.film-services {
  background: #000;
  .whitetext {
    opacity: 1;
    transition: opacity 2s ease 2s;
    .service {
      opacity: 1;
      transition: opacity 1s ease 1.5s;
      h2 {
        transform: translateX(0);
        transition: transform 1s ease 2s;
        &:before {
          transform: translateX(0);
          transition: transform 1s ease 2s;
        }
      }
    }
    &:nth-child(1) {
      transition-delay: 0s;
      .service {
        transition-delay: 0.5s;
        h2 {
          transition-delay: 0.5s;
          &:before {
            transition-delay: 0.5s;
          }
        }
      }
    }
    &:nth-child(2) {
      transition-delay: 1s;
      .service {
        transition-delay: 1s;
        h2 {
          transition-delay: 1.5s;
          &:before {
            transition-delay: 1.5s;
          }
        }
      }
    }
    &.hidden {
      opacity: 0;
      transition: none;
      .service {
        opacity: 0;
        transition: none;
        h2 {
          transform: translateX(-0.6rem);
          transition: none;
          &:before {
            transform: translateX(0.6rem);
            transition: none;
          }
        }
      }
    }
  }
}

.mini-leistungen {
  padding: 2rem 0;
  .mini-leistung {
    opacity: 1;
    transition: all 0.6s ease;
    transition-delay: 0.6s;
    &:nth-child(1) {
      transition-delay: 0s;
    }
    &:nth-child(2) {
      transition-delay: 0.1s;
    }
    &:nth-child(3) {
      transition-delay: 0.2s;
    }
    &:nth-child(4) {
      transition-delay: 0.3s;
    }
    &:nth-child(5) {
      transition-delay: 0.4s;
    }
    &:nth-child(6) {
      transition-delay: 0.5s;
    }
    &.hidden {
      opacity: 0;
      transition: none;
    }
  }
}

@include desktop() {
  .headerbg {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
}

.filmbg p {
  color: $whitetext;
  text-align: center;
}

.play-symbol {
  font-size: 6rem;
  padding: 1rem;
}

/* Plyr Overrides */
.plyr__control--overlaid {
  background: none;
  border: 1px solid #fff;
}
.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true], .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  background: none;
}
.plyr--full-ui input[type=range] {
  color: $filmsolid;
}
.plyr__control.plyr__tab-focus {
  box-shadow: none;
}
.plyr--stopped:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; //$filmgradient;
  opacity: 0.6;
  z-index: 1;
}
@include desktop() {
  .plyr__control--overlaid {
    transform: scale(2) translate(-50%,-50%);
  }
}

.animateme {
  opacity: 0 !important;
}

// Gallery
section.gallery {
  ul.gallery {
    li {
      position: relative;
      opacity: 1;
      transform: translateY(0);
      transition: all 1s ease-in 0.6s;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.3s;
      }
      &:nth-child(3) {
        transition-delay: 0.45s;
      }
      &:nth-child(4) {
        transition-delay: 0.55s;
      }
    }
    &.hidden li {
      opacity: 0;
      transform: translateY(1rem);
    }
    div.index {
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      color: #fff;
      padding: 0.1rem 0.5rem;
    }
    img {
      max-width: 100%;
    }
  }
}

//Maße
section.print-specs {
  div.page {
    position: relative;
    background: #fff - 30;
    border: 1px solid #000;
    text-align: center;
    transform-origin: center center;
    transform: perspective(100rem) rotateY(-0) scale(1);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 1;
    &.hidden {
      transform: perspective(100rem) rotateY(-20deg) scale(0.8);
      opacity: 0;
    }
  }
  .specs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5rem;
  }
  .by {
    font-weight: 600;
  }
  .twosided {
    color: #000 + 90;
    font-size: 1rem;
  }
}

@include phone() {
  section.print-specs {
    .specs {
      font-size: 1rem;
    }
    .twosided {
      font-size: 0.8rem;
    }
  }
}

//Color Palette
section.color-palette {
  ul.colors {
    display: flex;
  }
  li.color {
    display: block;
    padding-bottom: 100%;
  }
}