/* Transitions */

/* PRINT */
section.animation {
    .slide {
        width: 100%;
        height: 100vh;
        position: relative;
        text-align: center;
        box-sizing: border-box;
    }
    .slide-1 {
        background: #fff - 10;
        h2 {
            font-family: 'Nunito', sans-serif;
            letter-spacing: 0.3em;
            text-align: center;
            top: 20%;
            margin: 0;
            &:before {
                display: none;
            }
        }
        svg.drop {
            position: absolute;
            top: 40%;
            left: 50%;
        }
    }
    .slide-2 {
        border-top: 1px solid #666;
    }
}